header 
{
    display: flex;
    width: 100%;
    height: 64px;
    flex-direction: row;
    position: fixed;
    z-index: 9999;
    .Logo
    {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;
        font-family: 'Hepta Slab', serif;
        color: white;
        background-color: transparent;
        .LogoWaterfall
        {
            margin-left: 20px;
        }
        .Waterfall-image
        {
            margin-left: 20px;
            margin-top: 10px;
            
        }
    }
    .Menu
    {
        display: flex;
        align-items: center;
        justify-content: first baseline;
        flex: 3;
        color: white;
        ul 
        {
            display: flex;
            align-items: center;
            margin-left: 200px;
            list-style-type: none;
            list-style: none;
            li:not(:first-child)
            {
                margin-left: 50px;
            }
        }
       
    }
    
}
.waterfall
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        object-fit: fill;
        height: 100%;
    }
